# 1303. Find the Team Size (Easy)

<div><p>Table: <code>Employee</code></p>

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| employee_id   | int     |
| team_id       | int     |
+---------------+---------+
employee_id is the primary key for this table.
Each row of this table contains the ID of each employee and their respective team.
</pre>

<p>Write an SQL query to find the team size of each of the employees.</p>

<p>Return result table in any order.</p>

<p>The query result format is in the following example:</p>

<pre>Employee Table:
+-------------+------------+
| employee_id | team_id    |
+-------------+------------+
|     1       |     8      |
|     2       |     8      |
|     3       |     8      |
|     4       |     7      |
|     5       |     9      |
|     6       |     9      |
+-------------+------------+
Result table:
+-------------+------------+
| employee_id | team_size  |
+-------------+------------+
|     1       |     3      |
|     2       |     3      |
|     3       |     3      |
|     4       |     1      |
|     5       |     2      |
|     6       |     2      |
+-------------+------------+
Employees with Id 1,2,3 are part of a team with team_id = 8.
Employees with Id 4 is part of a team with team_id = 7.
Employees with Id 5,6 are part of a team with team_id = 9.

</pre>
</div>

## Option 1

In [ ]:
# Write your MySQL query statement below

select employee_id, team_size  from employee left join 
(select team_id, COUNT(employee_id) as team_size from employee group by team_id) a 
on employee.team_id = a.team_id

#### Result: 276ms (69.51%)