# 1378. Replace Employee ID With The Unique Identifier (Easy)

<div><p>Table: <code>Employees</code></p>

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| name          | varchar |
+---------------+---------+
id is the primary key for this table.
Each row of this table contains the id and the name of an employee in a company.
</pre>

<p>&nbsp;</p>

<p>Table: <code>EmployeeUNI</code></p>

<pre>+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| id            | int     |
| unique_id     | int     |
+---------------+---------+
(id, unique_id) is the primary key for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.
</pre>

<p>&nbsp;</p>

<p>Write an SQL query to&nbsp;show&nbsp;the <strong>unique ID&nbsp;</strong>of each user, If a user doesn't have a unique ID replace just show null.</p>

<p>Return the result table in <strong>any</strong> order.</p>

<p>The query result format is in the following example:</p>

<pre><code>Employees</code> table:
+----+----------+
| id | name     |
+----+----------+
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |
+----+----------+

<code>EmployeeUNI</code> table:
+----+-----------+
| id | unique_id |
+----+-----------+
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |
+----+-----------+

<code>EmployeeUNI</code> table:
+-----------+----------+
| unique_id | name     |
+-----------+----------+
| null      | Alice    |
| null      | Bob      |
| 2         | Meir     |
| 3         | Winston  |
| 1         | Jonathan |
+-----------+----------+

Alice and Bob don't have a unique ID, We will show null instead.
The unique ID of Meir is 2.
The unique ID of Winston is 3.
The unique ID of Jonathan is 1.
</pre></div>

## Option 1

In [ ]:
# Write your MySQL query statement below

select name, unique_id  from employees
left join employeeuni on employees.id = employeeuni.id

#### Result: 1471ms (40.38%)